doctype 
html
    head
        title My Site
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 Cliff Anderson
            
            .main-content
                block content
        footer
            p Running on Node.js with Express, Jade and Stylus
