doctype
html
    head
        title A workout tracker
    body
        p Sign Up!
        form(name="signup", method="post", action="/signup")
            p Username
            input(type="text", name="username")
            p Password
            input(type="password", name="password")
            p Confirm password
            input(type="password", name="password_confirm")
            p Submit
            input(type="submit", name="submit", value="Signup")
            
        div username: #{username}
        div password: #{password}
        
        div #{message}